body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #dadada, #ffffff);
}

form {
    background-color: #fff;
    width: 280px;
    height: 178px;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 4px;
    padding: 20px 30px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.4);
}

form label {
    float: left;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}

form input {
    font-size: 18px;
    padding: 4px;
    float: left;
    width: 100%;
}
button {
    font-size: 18px;
    border: none;
    background-color: #004984;
    color: #fff;
    margin: 15px 95px;
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 2px;
}