body {
    margin: 0;
    padding: 0;
    background-color: #006d84;
}

form {
    background-color: #fff;
    width: 280px;
    height: 200px;
    margin: 0 auto;
    margin-top: 140px;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.4);
}

form label {
    float: left;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}

form input {
    font-size: 18px;
    padding: 4px;
    float: left;
    width: 100%;
}