div#leftPanel {
    float: left;
    width: 180px;
    background-color: #2f343a;
    height: 100%;
    position: fixed;
}

body {
    margin: 0;
    padding: 0;
}
.menu {
    float: left;
    width: 100%;
}

.menu ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}

.menu ul a {
    float: left;
    width: calc(100% - 10px);
    color: #D4D5D6;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 5px;
}

.menu ul li {
    float: left;
    width: 100%;
}

.menu ul a:hover {
    color: #fff;
}